@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playpen+Sans+Thai:wght@100..800&display=swap');

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

